@import "tailwindcss";

:root {
  --font-plex-thai-looped: "IBM Plex Sans Thai Looped", thai-ui, sans-serif;
  --font-orbitron: "Orbitron", system-ui, sans-serif;
  --font-rubik: "Rubik", system-ui, sans-serif;
  --red-en: #9A0D17;
  --red-en-bg: #770A12;
  --red-en-hover: #B1121B;
  --white-bg: #F5F1EA;
}

body {
  background-color: black;
  font-family: var(--font-plex-thai-looped);
}

.bg-red-en {
  background-color: var(--red-en);
}

.bg-red-en-bg {
  background-color: var(--red-en-bg);
}

.font-orbitron {
  font-family: var(--font-orbitron);
}

.font-rubik {
  font-family: var(--font-rubik);
}

.font-plex-thai {
  font-family: var(--font-plex-thai-looped);
}